<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parce que uma troca de password para a sua conta foi solicitada</p>
  <p>Se enviou o pedido então clique no link abaixo para obter uma password nova:</p>
  <p>
    <a href="{{link}}">Reset da password</a>
  </p>
  <p>Se não enviou o pedido, então descarte este email</p>
  <p>Obrigado! <br /><strong>Equipa GoBarber</strong></p>
</div>
